<div class="motorRemapComponent">
    <h3 i18n="motorsRemapDialogTitle" class="motorRemapComponentHeader"></h3>
    <div class="componentContent" id="dialogMotorRemapMainContent">
        <canvas id="motorRemapCanvas"></canvas>
        </canvas>
        <div id="motorRemapActionPanel">
            <h4 id="motorRemapActionHint"></h4>
            <a href="#" id="dialogMotorRemapSave" class="regular-button right" i18n="dialogMotorRemapSave"></a>
            <a href="#" id="dialogMotorRemapStartOver" class="regular-button right" i18n="dialogMotorRemapStartOver"></a>
        </div>
    </div>
    <div class="componentContent" id="dialogMotorRemapWarning">
        <div class="notice">
            <p class="motorsRemapDialogRiskNoticeText" i18n="motorsRemapDialogRiskNotice"></p>
            <div class="motorsRemapToggleParentContainer">
                <div class="motorsRemapToggleNarrow">
                    <input id="motorsEnableTestMode-dialogMotorRemap" type="checkbox" class="toggle"/>
                </div>
                <div class="motorsRemapToggleWide">
                    <span class="motorsEnableTestMode motorsRemapDialogRiskNoticeText" i18n="motorsRemapDialogUnderstandRisks"></span>
                </div>
            </div>
            <div class="motorsRemapDialogRExplanationText" i18n="motorsRemapDialogRExplanation"></div>
        </div>
        <div class="buttons">
            <a href="#" id="dialogMotorRemapAgreeButton" class="regular-button" i18n="motorRemapDialogAgree"></a>
        </div>
    </div>
</div>
