<div class="motorRemapComponent">
    <h3 i18n="motorsRemapDialogTitle" class="motorRemapComponentHeader"></h3>
    <div class="componentContent" id="dialogMotorRemapMainContent">
        <canvas id="motorRemapCanvas"></canvas>
        </canvas>
        <div id="motorRemapActionPanel">
            <h4 id="motorRemapActionHint"></h4>
        </div>
        <div id="motorRemapSaveStartOverButtonsPanel">
            <a href="#" id="motorsRemapDialogSave" class="regular-button left" i18n="motorsRemapDialogSave"></a>
            <a href="#" id="motorsRemapDialogStartOver" class="regular-button left" i18n="motorsRemapDialogStartOver"></a>
        </div>
    </div>
    <div class="componentContent" id="dialogMotorRemapWarning">
        <div class="notice">
            <p class="motorsRemapDialogRiskNoticeText" i18n="motorsRemapDialogRiskNotice"></p>
            <div class="motorsRemapToggleParentContainer">
                <div class="motorsRemapToggleNarrow">
                    <input id="motorsEnableTestMode-dialogMotorRemap" type="checkbox" class="toggle"/>
                </div>
                <div class="motorsRemapToggleWide">
                    <span class="motorsEnableTestMode motorsRemapDialogRiskNoticeText" i18n="motorsRemapDialogUnderstandRisks"></span>
                </div>
            </div>
            <div class="motorsRemapDialogRExplanationText" i18n="motorsRemapDialogExplanations"></div>
        </div>
        <div class="buttons">
            <a href="#" id="dialogMotorRemapAgreeButton" class="regular-button" i18n="motorRemapDialogAgree"></a>
        </div>
    </div>
</div>
